
/** Toasts **/
.Toastify {
    --toastify-text-color-light: var(--blue-hover);
    --toastify-color-light: var(--surface);

}
.Toastify__progress-bar--success {
	background: linear-gradient(var(--blue), var(--bg));
}
.Toastify__toast {
    box-shadow: 0 0 0 0;
    border: 1px solid var(--border);
    background: var(--bg);
}

.Toastify__toast-body a {
    color: var(--bg;
}

.Toastify__toast-body a:hover {
    color: var(--bg);
}

/** handle the popup color and the text color based on the theme **/
.swal2-popup {
    border: 1px solid var(--border);
    background: var(--bg);
    color: var(--text);
}
