:root {
  --bg: #060913;
  --surface: #0f1626;
  --subtle: #17223b;
  --hover: #203052;
  --border: #1d2b49;
  --text: #e2f1ff;
  --muted: #627799;
  --blue: #00f2fe;
  --blue-hover: #4facfe;
  --red: #ff3366;
  --green: #00ffcc;
} 
